.details {
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  flex-wrap: wrap;
  padding: 40px 0 0;
  gap: 20px;
}

.datePickerContainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  margin-right: 30%;
}

.datepicker__day--highlighted {
  background-color: red;
  color: white;
}

.timePicker {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}
.timeButtons {
  display: flex;
}

.timeButton {
  padding: 10px 20px;
  font-size: 15px;
}
.timeButton input {
  margin-right: 10px;
}
.titleTime {
  margin: 20px 0;
}

.selectedDateTime {
  margin-right: 30%;
}

.products {
  height: 35.75rem;
  width: auto;
  display: flex;
  justify-content: center;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  text-align: center;
  flex: 1;
}

.button {
  background-color: var(--main-text-secondary-color);
  padding: 10px 30px;
  font-size: 12px;
}

.button:hover {
  color: #eeece0;
}

.details > button {
  align-self: flex-start;
  display: flex;
  margin-left: 10px;
}

.img {
  width: 50%;
  height: auto;
  margin-bottom: 20px;
}

.paragraph {
  color: #333;
  font-size: 12px;
}

.features {
  width: 100%;
  margin-top: 20px;
  padding: 20px 0;
  text-align: center;
  border: 2px solid #ddd;
}
.title {
  grid-column: span 4;
  margin-bottom: 20px;
  text-align: center;
  font-size: 1.5rem;
}

.featureItem {
  list-style: none;
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  grid-column: span 1;
}

.list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0 30px;
}

.icon {
  margin-right: 10px;
  font-size: 1.5rem;
}

@media (max-width: 1200px) {
  .details {
    flex-direction: column;
    align-items: center;
  }

  .products {
    height: auto;
    width: 100%;
    padding: 10px;
  }

  .img {
    width: 80%;
  }

  .paragraph {
    font-size: 14px;
  }
  .details > button {
    align-self: flex-end;
  }
  .list {
    grid-template-columns: repeat(2, 1fr);
    padding: 0 20px;
  }
}

@media (max-width: 768px), (max-width: 480px) {
  .products {
    height: auto;
    width: 100%;
    padding: 5px;
  }
  .list {
    grid-template-columns: 1fr;
    padding: 0 10px;
  }

  .img {
    width: 100%;
    margin-bottom: 10px;
  }

  .paragraph {
    font-size: 12px;
  }

  .button {
    font-size: 14px;
  }

  .timeButtons {
    flex-wrap: wrap;
  }
  .datePickerContainer {
    flex-direction: column;
    margin-right: 0;
  }

  .datePickerContainer .error {
    text-align: center;
    margin-top: 20px;
  }
  .datePickerContainer > div {
    text-align: center;
  }
  .selectedDateTime {
    margin-right: 0;
    padding: 20px;
    text-align: center;
  }
}
