.details {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  padding: 20px;
}

.products {
  height: 35.75rem;
  width: auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  text-align: center;
}

.button {
  background-color: #3e7766;
  border-radius: 20%;
  padding: 0.5rem;
  font-size: 12px;
}

.button:hover {
  color: #eeece0;
}

.details > button{
  align-self: flex-start;
  display: flex;
  margin-left: 10px;
}

.img {
  width: 60%;
  height: auto;
  margin-bottom: 20px;
}

.paragraph {
  color: #333;
  font-size: 12px;
}
