.formContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70vh;
  padding: 20px;
  background-color: #f5f5f5;
}

.form {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  padding: 60px;
  width: 90%;
  max-width: 650px;
}

.inputField {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.button {
  background: var(--main-text-secondary-color);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
}

.button:hover {
  background: #2b5a4a;
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

.error {
  color: red;
  margin-top: 10px;
}

.success {
  color: green;
  margin-top: 10px;
  text-align: center;
}

@media (max-width: 768px) {
  .formContainer {
    height: 100vh;
    padding: 10px;
  }

  .form {
    padding: 15px;
  }
}

@media (max-width: 480px) {
  .form {
    width: 100%;
  }
}
