.navBar {
  width: 100%;
  height: 4rem;
  background-color: var(--main-text-secondary-color);
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
  z-index: 50;
}

.orangeButton {
  padding: 10px;
  border-radius: 5px;
  background-color: var(--main-orange);
  margin-right: 1rem;
  color: var(--main-bg-color);
  border: none;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  text-decoration: none;
}
.orangeButton:hover {
  color: var(--main-text-secondary-color);
  cursor: pointer;
  transform: scale(1.05);
  box-shadow: 0 8px 12px rgba(0, 0, 0, 0.4);
}

.navBar img {
  width: 3rem;
  height: 3rem;
  margin: 0px;
  margin-left: 1rem;
}
.navBar a {
  color: var(--main-bg-color);
  text-decoration: none;
}

.logoDiv {
  display: flex;
  align-items: center;
}

.logoDiv p {
  padding: 0 5px;
  margin-bottom: 4px;
}

.avoidLinkStyles {
  text-decoration: none;
  color: inherit;
}

.mobileHeader {
  padding: 1rem;
  i {
    font-size: 30px;
  }
}

.leftMenu {
  background-color: var(--main-text-secondary-color);
  color: var(--main-bg-color);
  p,
  a,
  button {
    color: var(--main-bg-color);
  }
}

.leftMenuBody {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  li {
    list-style-type: none;
    margin: 10px 0;
    a {
      text-decoration: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      i {
        font-size: 22px;
        margin-right: 10px;
      }
    }
  }

  button {
    background: var(--main-orange);
    border-radius: 5px;
    border: 1px solid var(--main-orange);
    padding: 5px 10px;
  }
}

.leftHeaderMenu {
  text-align: center;
}

.leftMenuFooter {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.avatar {
  background-color: #1871d6;
  color: white;
  height: 45px;
  width: 60px;
  margin-right: 1rem;
  border-radius: 10px;
  font-size: 22px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  user-select: none;
}
