.productListContainer {
  padding: 5%;
}

.productListTitle {
  margin-bottom: 40px;
}

.productList {
  display: grid;
  grid: auto / 100%;
  gap: 10px;
}

@media (min-width: 992px) {
  .productList {
    display: grid;
    grid: auto / 48% 48%;
    column-gap: 4%;
    row-gap: 0%;
  }
}
