.searchProduct {
  text-align: center;
  margin: 60px 0;
  form {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
  }
  button {
    background-color: var(--main-orange);
    border: 1px solid var(--main-orange);
    color: var(--main-bg-color);
    padding: 7px 10px;
    border-radius: 5px;
    margin-right: 1rem;
  }
}
