.searchProduct {
  text-align: center;
  margin: 60px 0;
  form {
    display: flex;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    button {
      background-color: var(--main-orange);
      border: 1px solid var(--main-orange);
      color: var(--main-bg-color);
    }
    input {
      border: 1px solid rgb(174, 172, 172);
      background-color: white;
    }
    button,
    input {
      border-radius: 5px;
      padding: 7px 10px;
    }
    input:focus {
      outline: none;
    }
  }
  :global(.react-datepicker-wrapper) > div {
    height: 100%;
    input {
      height: 100%;
    }
  }
  button:hover {
    background-color: var(--main-text-secondary-color);
    border: 1px solid var(--main-text-secondary-color);
  }
}

.disableButton {
  pointer-events: none;
  opacity: 0.5;
}
:global(.react-datepicker-popper) {
  z-index: 99999;
}
.words {
  position: relative;
  ul {
    position: absolute;
    top: 40px;
    background: white;
    width: 100%;
    list-style: none;
    border: 1px solid rgb(174, 172, 172);
    border-radius: 5px;
    padding: 0;
    li {
      padding: 7px 10px;
      cursor: pointer;
    }
    li:hover {
      background-color: rgba(249, 244, 240, 0.995);
    }
  }
}
