.successSignUpHeader {
  background: var(--main-text-secondary-color);
  justify-content: center;
  font-size: 7rem;
  color: white;
}
.successSignUpBody {
  padding: 30px 35px;
  a {
    background: var(--main-text-secondary-color);
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px;
    width: 100%;
    display: block;
    text-align: center;
    text-decoration: none;
  }
}
